$TTL 1D
@		IN SOA ns1.dnsserver.tld. root.domain.tld. (
				2017102701	;Seriennummer
				6H		;Auffrischen nach 6 Stunden
				1H		;Erneut versuchen nach 1 Stunde
				1W		;Laeuft nach 1 Woche ab
				1D)		;Minimal gueltig fuer 1 Tag
		
		
		IN NS	ns1.dnsserver.tld.
		IN NS	nsb7.schlundtech.de.
		IN NS	nsc7.schlundtech.de.
		IN NS	nsd7.schlundtech.de.
		IN MX 10	mail1.fspisp.de.

ns1.dnsserver.tld.	IN A	1.1.1.1

www		IN A	0.0.0.0
mail		IN A	0.0.0.0
