# Erstmal alles verbieten
<IfModule mod_access_compat.c>
    Order Deny,Allow
    Deny from all
</IfModule>
<IfModule !mod_access_compat.c>
    Require all denied
</IfModule>

AuthName "Benutzeranmeldung erforderlich"
AuthType Basic
AuthBasicAuthoritative Off
AuthBasicProvider dbm
AuthDBMType SDBM

AuthDBMUserFile vhosts/username/passwd_files/.passdb_username
require valid-user

satisfy any
